<!DOCTYPE html>
<html>

<head>
	<title><%=shopName%> List</title>
	<link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
	<h1><%=shopName%></h1>
    <h2>Here are the Books we Sell:</h2>
    <ul>
        <% for (var i=0; i<books.length; i++) { %>
            <li><%=books[i].name%>, £<%=books[i].price%></li>
        <% } %>
    </ul>
</body>

</html>
